@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/burgerBackground.jpg);
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.display-hide {
    display: none;
}

.flex {
    display: flex;
}

#outer-title {
    display: flex;
    flex: 2;
}

h1 {
    font-family: "Fredoka One", sans-serif;
    font-size: 40px;
    margin: auto;
}

#header-div-1 {
    flex: 1;
}

#header-div-2 {
    flex: 1;
}

header button {
    font-family: "Fredoka One", sans-serif;
    font-size: 20px;
    border: 4px solid black;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 0.5rem 0;
    height: inherit;
    cursor: pointer;
}

#difficulty {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 5rem;
    justify-content: center;
    margin: 5rem 1rem 0 1rem;
}

.btn-difficulty {
    font-size: 35px;
    font-family: "Fredoka One", sans-serif;
    border: 10px solid black;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    cursor: pointer;
}

#easy {
    background-color: white;
    color: black;
}

#easy:hover {
    animation-name: fill-easy;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#medium {
    background-color: white;
    color: black;
}

#medium:hover {
    animation-name: fill-medium;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#hard {
    background-color: white;
    color: black;
}

#hard:hover {
    animation-name: fill-hard;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fill-easy {
    from {background-color: white;}
    to {background-color: rgba(182, 201, 75, 1);}
}

@keyframes fill-medium {
    from {background-color: white;}
    to {background-color: rgba(255, 219, 88, 1);}
}

@keyframes fill-hard {
    from {background-color: white;}
    to {background-color: rgba(187, 43, 27, 1);}
}

#outer-game-box {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#game-box {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

#outer-checkbox {
    flex-direction: column;
    padding-top: 6.3rem;
    width: 60px;
}

.checkbox {
    display: flex;
    overflow: hidden;
    margin: 1.4rem 0;
    width: 60px;
    height: 60px;
}

.fa-circle-check {
    display: none;
    margin: auto;
    font-size: 60px;
    color: green;
}

.fa-circle-xmark {
    margin: auto;
    font-size: 60px;
    color: red;
}

#outer-question {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: inherit;
}

.question-box {
    height: 6rem;
    width: 10rem;
}

.question-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#question-1, #question-2, #question-3, #question-4 {
    border: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid lightgray;
}

#question-1 {
    border-top: 5px solid rgba(255, 255, 255, 0);
}

#outer-timer-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    margin: 0 1rem;
}

.btn-gray {
    font-family: "Fredoka One", sans-serif;
    border: 1px solid white;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    cursor: pointer;
}

#start-game {
    color: black;
    font-size: 30px;
}

#outer-start-game {
    height: 8rem;
    width: 8rem;
    background-color: white;
    border: 7px solid black;
    border-radius: 50%;
}

#outer-reset-game {
    height: 8rem;
    width: 8rem;
    background-color: white;
    border: 7px solid black;
    border-radius: 50%;
}

#timer {
    display: flex;
    font-family: "Fredoka One", sans-serif;
    border: 7px solid black;
    background-color: white;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

#timer p {
    margin: auto;
    font-size: 60px;
    color: black;
}

#reset-game {
    color: darkgray;
    font-size: 30px;
}

#outer-answer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: inherit;
    border-radius: 10px;
    margin: 0 1rem;
}

#question-answer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    border: 7px solid black;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.answer-box {
    height: 6rem;
    width: 10rem;
}

.answer-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#answer-1, #answer-2, #answer-3, #answer-4 {
    border: 5px solid rgba(255, 255, 255, 0);
    border-top: 5px solid lightgray;
}

#answer-1 {
    border: 5px solid green;
    border-radius: 8px;
}

#answer-2 {
    border: 5px solid rgba(255, 255, 255, 0);
}

#outer-score-submit-selection {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#outer-score-submit {
    display: flex;
}

#outer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-left: 3.8rem;
    width: 12rem;
}

.score-box {
    padding-left: 2rem;
    border: 5px solid lightgray;
    border-radius: 8px;
}

#outer-submit {
    margin-top: 2.5rem;
    margin-left: 7rem;
}

#submit {
    color: darkgray;
    font-size: 30px;
}

#outer-selection-info {
    display: flex;
    padding-left: 5rem;
}

#grid {
    display: grid;
}

#selection, #message-box {
    grid-column: 1;
    grid-row: 1;
}

#selection {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 26rem;
    height: 18rem;

}

.selection-box {
    border: 5px solid lightgray;
    border-radius: 8px;
    height: 8rem;
    width: 12rem;
    margin: 0;
    padding: 0;
}

.selection-box input {
    object-fit: contain;
    width: 100%;
}

#message-box {
    display: flex;
    border: 5px solid lightgray;
    border-radius: 8px;
    width: 25rem;
    height: 17rem;
}

#message-box p {
    margin: auto;
}