body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#outer-game-one {
    display: flex;
    flex: 1;
    height: 700px;
}

#outer-true-false {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    height: inherit;
    padding-right: 1rem;
}

.true-false-box {
    display: flex;
    margin: 1.5rem 0;
    width: 60px;
    height: 60px;
}

.fa-circle-check {
    margin: auto;
    font-size: 60px;
    color: green;
}

.fa-circle-xmark {
    margin: auto;
    font-size: 60px;
    color: red;
}

#outer-question {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    background-color: purple;
    height: inherit;
}

.question-box {
    flex: 1;
    margin: 0 0.5rem;
    background-color: aqua;
    border: 2px solid black;
    width: 230px;
    height: 115px;
}

#question-1 {
    margin-top: 0.5rem;
}

#question-6 {
    margin-bottom: 0.5rem;
}

#question-1 img, #question-6 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#outer-game-two {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    align-content: flex-start;
    height: 700px;
    flex: 2;
}

header {
    width: 100%;
    background-color: green;
    height: 100px;
    padding-left: 13%;
}

#outer-timer-buttons {
    flex: 1;
    background-color: turquoise;
    height: 600px;
}

#outer-answer {
    width: 30%;
    background-color: orange;
    height: 600px;
}

#outer-score-submit-selection {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 600px;

}

#outer-score-submit {
    display: flex;
    flex: 1;
}

#outer-score {
    flex: 1;
    background-color: red;
}

#outer-submit {
    flex: 1;
    background-color: saddlebrown;
}

#outer-selection-info {
    flex: 3;
    background-color: bisque;
}